body{
	background-color: var(--background-body);
}
.header{
	background-color: var(--secundary);
}
.btn{
	background-color: var(--background-btn);
}
@media(prefers-color-scheme: light){
	input.btn{
		background-color: #ffffff;
		color: var(--principal);
	}
}
.btn:hover{
	background-color: #ffffff;
	color: var(--principal);
}
@media(prefers-color-scheme: light){
	input.btn:hover{
		color: var(--text-color);
	}
}
@media(prefers-color-scheme: dark){
	.btn:hover{
		background-color: #fff;
		color: #000;
	}
	input.btn:hover{
		background-color: #fff;
	}
}
.card{
	background-color: var(--secundary);
}
.contentForm{
	background-color: var(--principal);
}